
.screen-reader-text {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden !important;
}
div:not(.App):not(#root) > * {
  padding-left: 10rem;
}
.App {
  padding: 2rem;
}
button {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: underline;
}
.jason {
  background: url('./jason.png') 0 0 no-repeat;
  background-size: contain;
  color: black;
}
.jason button {
  color: black;
}

.ryan {
  background: url('./ryan.png') 0 0 no-repeat;
  background-size: contain;
  color: #2D7006;
}
.ryan button {
  color: #2D7006;
}
.mykol {
  background: url('./mykol.png') 0 0 no-repeat;
  background-size: contain;
  color: #2846B3;
}
.mykol button {
  color: #2846B3;
}
@media screen and (max-width: 900px) {
  div:not(.App):not(#root) > * {
    padding-left: 15rem;
  }
}